
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}
body {
  max-width: 1450px;
}
.rec.rec-arrow {

  position: absolute;
  z-index: 2;
}
.rec.rec-arrow-right {
  right: 60px;
}
.rec.rec-arrow-left {
  left: 60px;
}
.rec-carousel-item {
  width: calc(100% / 6);
  margin-left: 10px;
}
button.rec-dot{
 display: none;
}

